
{{#partial "page"}}


  <article class="content">
    <h1 class="page-heading page-heading-small">{{lang 'compare.title'}}</h1>

    <table class="compare-table">

      <tr class="compare-row compare-main-row">
        <th class="header-column compare-empty-cell"></th>
        {{#each comparisons}}
          <td class="compare-table-cell">
            <figure class="product-item-thumbnail">
              <a href="{{url}}" title="{{name}}"></a>
              <img src="{{getImage image 'gallery' (cdn ../theme_settings.default-image)}}" alt="{{image.alt}}">
            </figure>

            <h2 class="product-item-title"><a href="{{url}}" title="{{name}}">{{name}}</a></h2>

            <div class="product-item-price">
              {{#if call_for_price}}
                {{call_for_price}}
              {{/if}}
              {{#if price}}
                {{> components/product/price price=price show_savings=false schema_org=false price_as_low_as=../theme_settings.price_as_low_as}}
              {{/if}}
            </div>
          </td>
        {{/each}}
      </tr>

      <tr class="compare-row compare-quickshop-row">
        <th class="header-column compare-empty-cell"></th>
        {{#each comparisons}}
          <td class="compare-table-cell">
            <a href="{{url}}" class="button button-primary" data-quick-shop data-product-id="{{id}}">{{lang 'product.quick_view'}}</a>
            {{#compare ../comparisons.length 2 operator=">"}}
              <a href="{{remove_url}}" class="compare-remove">{{lang 'compare.remove'}}</a>
            {{/compare}}
          </td>
        {{/each}}
      </tr>

      <tr class="compare-row compare-rating-row">
        <th class="header-column compare-table-heading">{{lang 'compare.rating'}}</th>
        {{#each comparisons}}
          <td class="compare-table-cell">
            {{#if rating}}
              {{> components/reviews/ratings rating=rating size="small"}}
            {{else}}
              <div class="compare-no-rating">{{lang 'compare.no_rating'}}</div>
            {{/if}}
          </td>
        {{/each}}
      </tr>

      <tr class="compare-row compare-description-row">
        <th class="header-column compare-table-heading">{{lang 'compare.description'}}</td>
        {{#each comparisons}}
          <td class="compare-table-cell">
            {{{summary}}}{{#if summary.length ">=" 120}}&hellip;{{/if}}
          </td>
        {{/each}}
      </tr>

      <tr class="compare-row compare-availability-row">
        <th class="header-column compare-table-heading">{{lang 'compare.availability'}}</td>
        {{#each comparisons}}
          <td class="compare-table-cell">
            {{availability}}
          </td>
        {{/each}}
      </tr>

      <tr class="compare-row compare-action-row">
        <th class="header-column compare-empty-cell"></th>
        {{#each comparisons}}
          <td class="compare-table-cell">
            {{#unless hide_add_to_cart}}
              {{#if has_options}}
                <a href="{{url}}" class="button button-secondary" data-product-id="{{id}}">{{lang 'product.choose_options'}}</a>
              {{else}}
                {{#if can_purchase}}
                  <a href="{{add_to_cart_url}}" data-product-id="{{id}}" data-product-title="{{name}}" class="button button-primary add-to-cart button-progress" data-progress-text="{{ lang 'product.add_to_cart_progress' }}">
                    {{!> components/common/spinner}}
                    <span class="button-text">
                      {{#if pre_order}}
                        {{lang 'product.pre_order'}}
                      {{else}}
                        {{lang 'product.add_to_cart'}}
                      {{/if}}
                    </span>
                  </a>
                {{else}}
                  {{#if out_of_stock_message}}
                    <a href="{{url}}" class="button button-disabled" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                  {{/if}}
                {{/if}}
              {{/if}}
            {{/unless}}
          </td>
        {{/each}}
      </tr>

    </table>
    </article>

{{/partial}}
{{> layout/base}}
