{{#partial "page"}}

<div class="content">
  <article class="page-container contact-us">
    <h1 class="page-heading">{{ page.title }}</h1>
    <div class="page-content">
      <div class="page-message-area rte">
        {{#if forms.contact.success}}
          {{> core/alerts/alert-success (lang 'contact.success')}}
        {{else}}
          <p>{{{page.content}}}</p>
        {{/if}}
      </div>
      {{#unless forms.contact.success}}
        {{> core/forms/form-contact-us}}
      {{/unless}}
    </div>
  </article>
</div>

{{/partial}}

{{> layout/base}}
