{{#partial "page"}}

<div class="content">
  <article class="page-container">
    <h1 class="page-heading">{{lang 'cart.order.complete_header'}}</h1>
    <div class="page-content">
      {{lang 'cart.order.complete_message'}}
      {{{snippet 'order_confirmation'}}}
    </div>
  </article>
</div>

{{/partial}}

{{> layout/base}}

<!-- Justuno conversion -->
<script data-cfasync="false">
window.ju_num="2EEBC1D1-730F-4D90-AC46-EE6137EBC8BA";
window.ju_rev = "[order amount]";
window.ju_orderid = "[order id]";
window.asset_host='//cdn.justuno.com/';(function() {var s=document.createElement('script');s.type='text/javascript';s.async=true;s.src=asset_host+'cvs.js';var x=document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);})();
</script>