<!DOCTYPE html>
<html>
  <head>
    <title>{{head.title}}</title>
    {{{head.meta_tags}}}
    {{{head.config}}}

    <link href="{{head.favicon}}" rel="shortcut icon">

    {{{checkout.checkout_head}}}
    {{{stylesheet '/assets/css/optimized-checkout.css'}}}
    {{getFontsCollection}}

    <script type="text/javascript">
      window.language = {{{langJson 'optimized_checkout'}}};
    </script>
    
    <!-- Justuno conversion -->
	<script data-cfasync="false">
	window.ju_num="2EEBC1D1-730F-4D90-AC46-EE6137EBC8BA";
	window.ju_rev = "[order amount]";
	window.ju_orderid = "[order id]";
	window.asset_host='//cdn.justuno.com/';(function() {var s=document.createElement('script');s.type='text/javascript';s.async=true;s.src=asset_host+'cvs.js';var x=document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);})();
	</script>
  </head>

  <body>
    <header class="checkoutHeader optimizedCheckout-header">
      <div class="checkoutHeader-content">
        <h1 class="is-srOnly">{{lang 'checkout.title'}}</h1>
        <h2 class="checkoutHeader-heading">
          <a class="checkoutHeader-link" href="{{urls.home}}">
            {{#if checkout.header_image}}
              <img alt="{{settings.store_logo.title}}" class="checkoutHeader-logo" id="logoImage" src="{{ checkout.header_image }}"/>
            {{else}}
              <span class="header-logo-text">{{settings.store_logo.title}}</span>
            {{/if}}
          </a>
        </h2>
      </div>
    </header>

    {{{checkout.order_confirmation_content}}}

  </body>

</html>
