
<section class="mosaic mosaic-count-{{carousel.slides.length}}">
  {{#each carousel.slides}}
    <figure class="mosaic-item mosaic-item-{{@index}}" style="background-image: url('{{image}}');">
      <figcaption class="mosaic-item-info">
        {{#if heading}}
          <h2 class="mosaic-item-heading">{{{heading}}}</h2>
        {{/if}}
        {{#if text}}
          <p class="mosaic-item-caption">{{{text}}}</p>
        {{/if}}
        {{#if url}}
          {{#if button_text}}
            <span class="button mosaic-button" href="{{{url}}}">{{button_text}}</span>
          {{/if}}
        {{/if}}
      </figcaption>
      <img class="mosaic-item-image" src="{{image}}" alt="{{{alt_text}}}">
      {{#if url}}
        <a class="mosaic-item-link" href="{{{url}}}"></a>
      {{/if}}
    </figure>
  {{/each}}
</section>
