<div data-facet-filter-wrapper data-facet-filter-multi class="facet-filter-wrapper {{#unless start_collapsed}}is-open{{/unless}}">
  <ul id="faceted-search-nav-list-{{#replace ' ' facet}}{{else}}{{facet}}{{/replace}}"
      class="facet-option {{#if selected}}is-open{{/if}} {{#if items_count '<' total_items}}has-additional-filters{{/if}}"
      data-count="{{items_count}}" data-facet="{{facet}}">
    {{#each items}}
    <li class="{{#if selected}}facet-selected{{/if}}" data-facet-item>
      <a href="{{url}}" rel="nofollow" data-faceted-search-facet>
        {{title}}
        {{#if ../show_product_counts}}<span data-facet-item-count>({{count}})</span>{{/if}}
      </a>
    </li>
    {{/each}}
  </ul>

  {{#if show_more_toggle}}
    <a href="#faceted-search-nav-list-{{#replace ' ' facet}}{{else}}{{facet}}{{/replace}}" role="button"
       class="toggleLink faceted-show-more-button {{#unless start_collapsed}}is-open{{/unless}}"
       data-show-more-facets>
      <span class="toggle-link-text toggle-link-text-off">{{lang 'faceted_search.show_more'}}</span>
      <span class="toggle-link-text toggle-link-text-on">{{lang 'faceted_search.show_less'}}</span>
    </a>
  {{/if}}
</div>
